
body{
  font-family: "Roboto", sans-serif;
  
}
*{
 margin: 0;
 padding: 0;
}

.first-section{
  background-color:#1f2937;
  }

#header-logo{
  font-size: 24px;
  color: #f9faf8;
  display: flex;
  align-items: center; 
}
.header-link{
  font-size: 18px;
  color: #f9faf8;
  margin: 10px;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
ul{
  display: flex;
  flex-direction: row;
}
.navbar-left,.navbar-right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  color:#f9faf8;
  display: flex;
  flex-direction: row;
  margin: 50px;
}
.content-right{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 50%;
}
.image{
  margin: 50px;
  padding-right: 170px;
}
.content-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  gap: 10px;
  
}
.sign-up-first-secion{
  width: 73px;
  height: 30px;
  border-radius: 7px;
  background-color: blue;
  color: #f9faf8;
}
h2{
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
}
.box-blue{
  border: 3px solid blue;
  width: 145px;
  height: 150px;
}
.row-of-blue-divs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 50px;
}
.third-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: #e5e7eb;
  height: 350px;
}
.p-third{
  display: flex;
  align-self: flex-end;
  font-size: 25px;
  background-color: #e5e7eb;
  margin-bottom:40px; 
}
h3{
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;

}
.fourth-section{
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}
button{
  height: 35px;
  width: 90px;
  background-color: rgb(9, 9, 227);
  color: white;
  border-radius: 8px;
  border: 1px solid white;
  font-weight: bold;
}
.blue-bar{
  border-radius: 8px;
  height: 120px;
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(45, 45, 198);
  color: white;
  font-size: 18px;
}
.footer{
  color: #f9faf8;
  height: 100px;
  background-color:#1f2937;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}